<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="UI">
		<classes>
			<class name="testNGpractice.ChildOne" >	
			<methods>
        		<exclude name="testMethod" />
     		 </methods>
		 	</class>
			<class name="testNGpractice.ChildTwo" />
			<class name="testNGpractice.ChildOne" />
			<class name="testNGpractice.ChildTwo" />
			<class name="testNGpractice.ChildTwo" />
			<class name="testNGpractice.ChildTwo" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="smoke">
		<classes>
			<class name="testNGpractice.ChildOne" />
			<class name="testNGpractice.ChildTwo" />
			<class name="testNGpractice.ChildTwo" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
